<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        <h3>
            Тестовое задание
        </h3>
        <ol>
            <li>Напишите нативное расширение под node js <a href="https://github.com/nodejs/nan">(https://github.com/nodejs/nan)</a>. Оно должно возвращать метод get при каждом вызове которого, должно возвращаться следующее значение последовательности фибоначи в формате String.</li>
            <li>Реализуйте веб приложение под node js, возвращающее интерфейс с одной кнопкой и окном вывода. При нажатии на кнопку, в окне вывода появляется следующий результат вызова метода get - расширения из пункта 1.</li>
        </ol>
        <p>Версия node 12.x LTS.</p>
    </body>
</html>
